.primary-button {
    background-color: #5754fe;
    color: white;
    border-radius: 10px;
    height: 55px;
}
.primary-button:hover {
    background-color: #e8e7ff;
    color: #5754fe;
}
.secondary-button {
    background-color: #f3f9fa;
    border-radius: 10px;
    height: 55px;
}
.secondary-button:hover {
    background-color: #d4dcdd;
    color: white;
}
