.primary-button {
    background-color: #162d3a;
    color: white;
    border-radius: 10px;
    height: 55px;
}
.primary-button:hover {
    background-color: #28485a;
    color: white;
}
.secondary-button {
    background-color: #f3f9fa;
    border-radius: 10px;
    height: 55px;
}
.secondary-button:hover {
    background-color: #d4dcdd;
    color: white;
}
